<div class="bigWidth" style="margin: auto; padding-bottom: 20px;">
    <label for="{{name}}_time" >Timer siden:</label>
    <div style="padding-right: 20%;">
        <input type="text" id="{{name}}_time" disabled="disabled" class="border-less as-text" /><span id="{{name}}_unit">t</span>
        <input type="hidden" id="{{name}}_time_since" />
    </div>
    <div id="{{name}}_slider"></div>
</div>